
@{
    ViewData["Title"] = "Livestream - Corona Quiz";
    ViewData["RemoveContainer"] = true;

}

<div id="twitch-embed" class="twitch-embed-container"></div>

@section Scripts
{
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script src="~/js/twitch.js"></script>
}