form.basic-form {
    float: left;
    width: 100%;
    margin-bottom: 128px;

    @media only screen and (max-width: 600px) {
        margin: 0 -16px;
        margin-bottom: 132px;
        width: calc(100% + 32px);
    }
}

form.quiz-form {
    > .question {
        float: left;
        width: 100%;
        border: solid 3px #000;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 8px 16px;
        margin-top: 16px;
        background: #101017;

        > h4 {
            float: left;
            width: 100%;
            margin: 8px 0;
        }
    }

    > .question.question-multiple-choice {
        > div > .option {
            float: left;
            width: 100%;
            margin: 12px 0;
            cursor: pointer;

            > .box {
                float: left;
                width: 16px;
                height: 16px;
                border: solid 2px #ccc;
                border-radius: 50%;
                position: relative;
            }

            > .label {
                float: left;
                margin-left: 16px;
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
            }

            &:hover {
                color: #fff;
                border-color: #fff;
            }

            &.selected .box {
                border-color: #ff8906;

                &:after {
                    content: ' ';
                    height: 38px;
                    width: 55px;
                    position: absolute;
                    top: -11px;
                    left: -11px;
                    border-radius: 50%;
                    background: url(/img/virus.svg) no-repeat;
                    background-size: contain;
                }
            }
        }
    }

    > .question.question-text input {
        float: left;
        width: 100%;
        max-width: 500px;
        box-sizing: border-box;
        background: none;
        border: 0;
        border-bottom: solid 1px #656565;
        padding: 12px 8px;
        color: #fff;
        outline: 0;
        border-radius: 0; // IOS fix
        &:focus {
            border-color: #ff8906;
        }
    }

    @media only screen and (max-width: 600px) {       
        > .question {
            border-left: 0;
            border-right: 0;
            //padding: 8px 0;
        }

        > .question.question-text input {
            max-width: 100%;
        }
    }
}


form > .submit {
    float: left;
    background: #ff8906;
    color: #fffffe;
    padding: 16px 24px;
    box-sizing: border-box;
    margin-top: 32px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;

    &:hover {
        background: #d8770b;
    }

    &.working {
        background: #424242;
        cursor: not-allowed;
    }

    &.done {
        background: #4CAF50;
        opacity: 0.4;
        cursor: not-allowed;
    }
}

@media only screen and (max-width: 600px) {
    form > .submit {
        margin-left: 16px;
        margin-top: 56px;
        width: calc(100% - 32px);
        text-align: center;
        margin-bottom: 64px;
    }
}