form {
    float: left;
    width: 100%;
    margin-bottom: 128px;
}

form .submit {
    float: left;
    background: #ff8906;
    color: #fffffe;
    padding: 16px 24px;
    box-sizing: border-box;
    margin-top: 32px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

form .submit:hover {
    background: #d8770b;
}

form .submit.working {
    background: #424242;
    cursor: not-allowed;
}

form .submit.done {
    background: #4CAF50;
    opacity: 0.4;
    cursor: not-allowed;
}

form .question {
    float: left;
    width: 100%;
    border: solid 3px #000;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 16px;
    margin-top: 16px;
    background: #101017;
}

form .question h4 {
    float: left;
    width: 100%;
    margin: 8px 0;
}

form input[type="radio"] {
    float: left;
}

form .question-multiple-choice .option {
    float: left;
    width: 100%;
    margin: 12px 0;
    cursor: pointer;
}

form .question-multiple-choice .option .box {
    float: left;
    width: 16px;
    height: 16px;
    border: solid 2px #ccc;
    border-radius: 50%;
    position: relative;
}

form .question-multiple-choice .option.selected .box {
    border-color: #ff8906;
}

form .question-multiple-choice .option.selected .box:after {
    content: ' ';
    height: 38px;
    width: 55px;
    position: absolute;
    top: -11px;
    left: -11px;
    border-radius: 50%;
    background: url(/img/virus.svg) no-repeat;
    background-size: contain;
}

form .question-multiple-choice .option .label {
    float: left;
    margin-left: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

form .question-multiple-choice .option:hover {
    color: #fff;
    border-color: #fff;
}

form .question-text input {
    float: left;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    background: none;
    border: 0;
    border-bottom: solid 1px #656565;
    padding: 12px 8px;
    color: #fff;
    outline: 0;
}

form .question-text input:focus {
    border-color: #ff8906;
}
