table {
    width: 100%;
    float: left;
    width: 100%;
    margin: 16px 0;
    color: #a7a9be;
    font-size: 13px;

    tr {
        border-bottom: solid 1px #a7a9be;
    }

    th, td {
        text-align: left;
        padding: 12px 0;
    }

    th {
        text-transform: uppercase;
        font-weight: 600;
    }

    .action {
        float: left;
        color: #a7a9be;
        padding: 0 4px;
        background: 0;
        border: 0;
        outline: 0;
        cursor: pointer;
        font-style: italic;
    }

    .green {
        color: green;
    }

    .red {
        color: red;
    }

    .yellow {
        color: yellow;
    }

    div {
        float: left;
    }

    &.split-2 {
        td {
            width: 50%;
        }
    }

    .score-selector {
        float: left;

        .score-option {
            float: left;
            width: 22px;
            height: 22px;
            text-align: center;
            line-height: 22px;
            margin-right: 8px;
            border-radius: 50%;
            border: solid 2px #ccc;
            cursor: pointer;

            &:hover {
                border-color: #ff8906;
            }

            &.selected {
                background: #ccc;
                color: #000;
                border-color: #ccc;

                &.unkown {
                    font-weight: 600;
                    background: red;
                    border-color: red;
                }
            }
        }
    }

    select {
        float: left;
        width: 100%;
        border: solid 2px #2c2b38;
        background: none;
        color: #fff;
        outline: 0;
        padding: 4px 8px;
        box-sizing: border-box;
        margin: -6px 0;

        option {
            background: #000;
            color: #fff;
        }
    }
}
