body {
  background: #fff;
  color: #000; }
  body h1 {
    color: #000; }
  body table {
    color: #000; }
  body tr td, body tr th {
    border-bottom: solid 2px #d0d0d0;
    padding: 16px 6px; }
  body .container {
    width: 1200px; }
