@using QuizForms.Web.Models.CheckAnswers;
@model AnswerSetsViewModel;
@{
    ViewData["Title"] = "Antwoorden controleren";
}

<h1>Antwoorden controleren</h1>

<h3>@Model.Sets.Count ingevulde formulieren.</h3>

<h2>Antwoorden</h2>
<table>
    <tr>
        <th>Team</th>
        <th>Punten</th>
        <th>Acties</th>
    </tr>
    @foreach (AnswerSetsItemViewModel set in Model.Sets)
    {
        <tr>
            <td>@set.Team</td>
            <td>@(set.Points?.ToString() ?? "-")</td>
            <td>
                <a class="action" href="/admin/check-answers/@Model.FormId/view/@set.Id">(Bekijken)</a>
                <a class="action" href="/admin/check-answers/@Model.FormId/check/@set.Id">(Controleren)</a>
            </td>
        </tr>
    }
</table>

<h2>Overig</h2>
<ul>
    <li>
        <a href="/admin/check-answers/@Model.FormId/autocheck">Automatisch controleren <span>➡️</span></a>
    </li>
</ul>