@model AnswersFormOverviewViewModel
@{
    ViewData["Title"] = "Formulieren overzicht";
}
<h1>Antwoorden controleren</h1>
<h2>Antwoordformulieren</h2>
<table>
    <tr>
        <th>Titel</th>
        <th>Beschikbaarheid</th>
        <th>zithbaarheid</th>
        <th>Verwijzingen</th>
    </tr>
    @foreach (FormInfo form in Model.Forms)
    {
        <tr>
            <td>@form.Title</td>
            <td>
                @if (form.Available)
                {
                    <div class="green">Beschikbaar</div>                   
                }
                else
                {
                    <div class="red">Gesloten</div>                    
                }
            </td>
            <td>
                @if (form.Hidden)
                {
                    <div class="red">Verborgen</div>                    
                }
                else
                {
                    <div class="green">Zichtbaar</div>                    
                }
            </td>
            <td>
                <a class="action" href="/admin/check-answers/@form.Id">(controleren)</a>                
            </td>
        </tr>
    }
</table>