
@{
    ViewData["Title"] = "Beheer portaal";
}

<h1>Beheer portaal</h1>

<h2>Beheer</h2>
<ul>
    <li>
        <a href="/admin/accounts">Accounts beheren <span>➡️</span></a>
    </li>
    <li>
        <a href="/admin/forms">Formulieren beheren <span>➡️</span></a>
    </li>
    <li>
        <a href="/admin/check-answers">Antwoorden controleren <span>➡️</span></a>
    </li>
    <li>
        <a href="/admin/scoreboard">Scores beheren <span>➡️</span></a>
    </li>
    <li>
        <a href="/admin/livestream">Livestream beheren <span>➡️</span></a>
    </li>
    <li>
        <a href="/admin/contact">Contact beheren <span>➡️</span></a>
    </li>
</ul>

<h2>Overig</h2>
<ul>
    <li>
        <a href="/sign-out">Uitloggen <span>➡️</span></a>
    </li>
</ul>