
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin Index</h1>

<h2>Beheer</h2>
<ul>
    <li>
        <a href="/accounts">Accounts beheren <span>🠆</span></a>
    </li>
    <li>
        <a href="/forms">Formulieren beheren <span>🠆</span></a>
    </li>
    <li>
        <a href="/forms">Antwoorden controleren <span>🠆</span></a>
    </li>
    <li>
        <a href="/score">Scores beheren <span>🠆</span></a>
    </li>
</ul>

<h2>Overig</h2>
<ul>
    <li>
        <a href="/sign-out">Uitloggen <span>🠆</span></a>
    </li>
</ul>