@model UpdatePasswordModel
@{
    ViewData["Title"] = "Wachtwoord bijwerken";
}

<h1>Wachtwoord bijwerken</h1>
<form asp-controller="Account" asp-action="UpdatePassword" method="post">
    <label for="Username">Gebruikersnaam</label>
    <input asp-for="Username" readonly="readonly"/>
    <span asp-validation-for="Username"></span>
    <label for="Message">Wachtwoord</label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br><br>
    <input type="submit" value="Bijwerken" formmethod="post">
</form>

