@using QuizForms.Web.Models.Home;
@model HomeViewModel
@{
    ViewData["Title"] = "Corona Pubquiz";
}

<h1>Corona Pubquiz</h1>
<p>Welkom bij de Corona Pubquiz! Tijdens de pubquiz is er een <a href="/livestream/twitch" target="_blank">livestream</a> waar we de vragen stellen. Dit doen we in losse rondes met elk een eigen thema. Op deze website kan je de antwoordenformulier vinden. Wij kijken de antwoorden voor je na voor de eindscores. Deelnemen kost niks. Wil je toch een bijdrage leveren? Doneer dan bijvoorbeeld aan het Rode Kruis. We hopen dat iedereen een leuke avond gaat beleven! <strong>We gaan 31 Oktober om 20:00 beginnen.</strong></p>

@*<a class="register-button" href="https://forms.gle/HCin54zQa7oK1Zj26">Team aanmelden</a>*@

<h2>Antwoordformulieren</h2>
<p>De onderstaande antwoordenformulieren worden beschikbaar als de ronde gaat beginnen. Één formulier per team is genoeg. Je kan de formulieren invullen vanaf je telefoon, tablet of computer.</p>
<ul id="quiz-form-list" data-timestamp="@Model.LastChangedTimestamp">
    @foreach (FormInfo form in Model.VisibleForms)
    {
        <li>
            @if (form.Available)
            {
                <a href="/forms/@form.Id">@form.Title <span>➡️</span></a>
            }
            else
            {
                <div class="locked-form">@form.Title <span>🔒</span></div>
            }
        </li>
    }
</ul>

<h2>Links</h2>
<ul>
    <li>
        <a href="/livestream/twitch" target="_blank">Livestream <span>➡️</span></a>
    </li>
    @*<li>
        <a href="/contact">Contact <span>➡️</span></a>
    </li>*@
    @*<li>
            <a href="/about">Over ons <span>➡️</span></a>
        </li>*@
    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <a href="/admin">Administrator paneel <span>➡️</span></a>
        </li>
    }
</ul>

@section Scripts
{
    <script src="~/js/homepage.js"></script>
}